@import "~bootstrap/scss/bootstrap";

/* 
    FONT
*/

* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

main {
    background-color: #EC732C;

}
